.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}


button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.add-button {
  background-color: rgb(112, 112, 183);
}

.add-button:hover {
  background-color: rgb(80, 80, 152);
}


.delete-button {
  background-color: rgb(146, 36, 36);
}

.delete-button:hover {
  background-color: rgb(126, 45, 41);
}


.move-button {
  background-color: rgb(96, 175, 209);
}

.move-button:hover {
  background-color: rgb(18, 86, 97);
}


.complete-button {
  background-color: #2e8b57;

}

.complete-button:hover {
  background-color: #256b44;

}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 0%, 0.3);
  border-radius: 5px;
  color: hsl(0, 0%, 20%);
}


ol {
  padding: 0;
  margin-top: 20px;
}


li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}


.text {
  flex: 1;
  text-align: left;
}


.delete-button,
.move-button,
.complete-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.completed {
  text-decoration: line-through;
  color: hsl(0, 0%, 50%);
}